<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "0.0.3" >

<!-- versionCode is optional and Android only -->

  <name>Crypto for Mortals</name>

  <description>
      Unlocking the mystery of Bitcoin and cryptocurrency, for mere humans.
  </description>

  <author href="https://crrdlx.github.io/" email="crrdlx@gmail.com">
      Hardeep Shoker
  </author>

</widget>
